# Data Wrangling Template

In this section, I will be cleaning data from 'kiva_loans.csv'.

In [15]:
# import all packages and set plots to be embedded inline. Also, set all columns and rows to be displayed.
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)


%matplotlib inline

### Various Functions

## Gather

In [16]:
df = pd.read_csv('kiva_loans.csv')

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 671205 entries, 0 to 671204
Data columns (total 20 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   id                  671205 non-null  int64
 1   funded_amount       671205 non-null  float64
 2   loan_amount         671205 non-null  float64
 3   activity            671205 non-null  object
 4   sector              671205 non-null  object
 5   use                 666973 non-null  object
 6   country_code        671197 non-null  object
 7   country             671205 non-null  object
 8   region              614405 non-null  object
 9   currency            671205 non-null  object
 10  partner_id          657698 non-null  float64
 11  posted_time         671205 non-null  object
 12  disbursed_time      668809 non-null  object
 13  funded_time         622874 non-null  object
 14  term_in_months      671205 non-null  float64
 15  lender_count        671205 non-null  int64
 16  tags                499789 non-null  object
 17  borrower_genders    666984 non-null  object
 18  repayment_interval  671205 non-null  object
 19  date                671205 non-null  object
dtypes: float64(4), int64(2), object(14)
memory usage: 102.4+ MB

In [18]:
df.head()

,id,funded_amount,loan_amount,activity,sector,use,country_code,country,region,currency,partner_id,posted_time,disbursed_time,funded_time,term_in_months,lender_count,tags,borrower_genders,repayment_interval,date
0,653051,300.0,300.0,Fruits & Vegetables,Food,"To buy seasonal, fresh fruits to sell.",PK,Pakistan,Lahore,PKR,247.0,2014-01-01 06:12:39+00:00,2013-12-17 08:00:00+00:00,2014-01-02 10:06:32+00:00,12.0,12,NaN,female,irregular,2014-01-01
1,653053,575.0,575.0,Rickshaw,Transportation,to repair and maintain the auto rickshaw used ...,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 06:51:08+00:00,2013-12-17 08:00:00+00:00,2014-01-02 09:17:23+00:00,11.0,14,NaN,"female, female",irregular,2014-01-01
2,653068,150.0,150.0,Transportation,Transportation,To repair their old cycle-van and buy another ...,IN,India,Maynaguri,INR,334.0,2014-01-01 09:58:07+00:00,2013-12-17 08:00:00+00:00,2014-01-01 16:01:36+00:00,43.0,6,"user_favorite, user_favorite",female,bullet,2014-01-01
3,653063,200.0,200.0,Embroidery,Arts,to purchase an embroidery machine and a variet...,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 08:03:11+00:00,2013-12-24 08:00:00+00:00,2014-01-01 13:00:00+00:00,11.0,8,NaN,female,irregular,2014-01-01
4,653084,400.0,400.0,Milk Sales,Food,to purchase one buffalo.,PK,Pakistan,Abdul Hakeem,PKR,245.0,2014-01-01 11:53:19+00:00,2013-12-17 08:00:00+00:00,2014-01-01 19:18:51+00:00,14.0,16,NaN,female,monthly,2014-01-01

## Assess

Please note that before I do any deep assessments of the data, I fill in missing data by column using 'bfill limit 1' and 'ffill limit 1' in pd.fillna() to get rid of as many nans as I can. I then reassess the remaining nans.

*(1) The remaining nans are a small percentage of each column, except for the tags, which are custom, and therefore cannot be addressed. The nulls will be left alone.  
*(2) Some of the sentences in the 'use' column are not capitalized.

#### Assessment 1

In [19]:
# Fill in nans in each column by using the previous and then next available value, limit 1 in a row.
df.fillna(method = 'ffill', axis = 0, inplace = True, limit = 1)
df.fillna(method = 'bfill', axis = 0, inplace = True, limit = 1)

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 671205 entries, 0 to 671204
Data columns (total 20 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   id                  671205 non-null  int64
 1   funded_amount       671205 non-null  float64
 2   loan_amount         671205 non-null  float64
 3   activity            671205 non-null  object
 4   sector              671205 non-null  object
 5   use                 671203 non-null  object
 6   country_code        671205 non-null  object
 7   country             671205 non-null  object
 8   region              670238 non-null  object
 9   currency            671205 non-null  object
 10  partner_id          671158 non-null  float64
 11  posted_time         671205 non-null  object
 12  disbursed_time      671205 non-null  object
 13  funded_time         668863 non-null  object
 14  term_in_months      671205 non-null  float64
 15  lender_count        671205 non-null  int64
 16  tags                648359 non-null  object
 17  borrower_genders    671203 non-null  object
 18  repayment_interval  671205 non-null  object
 19  date                671205 non-null  object
dtypes: float64(4), int64(2), object(14)
memory usage: 102.4+ MB

#### Assessment 2

In [21]:
df.head()

,id,funded_amount,loan_amount,activity,sector,use,country_code,country,region,currency,partner_id,posted_time,disbursed_time,funded_time,term_in_months,lender_count,tags,borrower_genders,repayment_interval,date
0,653051,300.0,300.0,Fruits & Vegetables,Food,"To buy seasonal, fresh fruits to sell.",PK,Pakistan,Lahore,PKR,247.0,2014-01-01 06:12:39+00:00,2013-12-17 08:00:00+00:00,2014-01-02 10:06:32+00:00,12.0,12,NaN,female,irregular,2014-01-01
1,653053,575.0,575.0,Rickshaw,Transportation,to repair and maintain the auto rickshaw used ...,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 06:51:08+00:00,2013-12-17 08:00:00+00:00,2014-01-02 09:17:23+00:00,11.0,14,"user_favorite, user_favorite","female, female",irregular,2014-01-01
2,653068,150.0,150.0,Transportation,Transportation,To repair their old cycle-van and buy another ...,IN,India,Maynaguri,INR,334.0,2014-01-01 09:58:07+00:00,2013-12-17 08:00:00+00:00,2014-01-01 16:01:36+00:00,43.0,6,"user_favorite, user_favorite",female,bullet,2014-01-01
3,653063,200.0,200.0,Embroidery,Arts,to purchase an embroidery machine and a variet...,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 08:03:11+00:00,2013-12-24 08:00:00+00:00,2014-01-01 13:00:00+00:00,11.0,8,"user_favorite, user_favorite",female,irregular,2014-01-01
4,653084,400.0,400.0,Milk Sales,Food,to purchase one buffalo.,PK,Pakistan,Abdul Hakeem,PKR,245.0,2014-01-01 11:53:19+00:00,2013-12-17 08:00:00+00:00,2014-01-01 19:18:51+00:00,14.0,16,NaN,female,monthly,2014-01-01

## Clean

#### Define - Assessment 2

I will use the .apply() function to use the .capitalize() function on each row of the 'use' column.

#### Code - Assessment 2

In [22]:
#Capitalize first letter of every row in 'use' column.
df['use'] = df['use'].str.capitalize()

#### Test - Assessment 2

In [23]:
df.head(100)

,id,funded_amount,loan_amount,activity,sector,use,country_code,country,region,currency,partner_id,posted_time,disbursed_time,funded_time,term_in_months,lender_count,tags,borrower_genders,repayment_interval,date
0,653051,300.0,300.0,Fruits & Vegetables,Food,"To buy seasonal, fresh fruits to sell.",PK,Pakistan,Lahore,PKR,247.0,2014-01-01 06:12:39+00:00,2013-12-17 08:00:00+00:00,2014-01-02 10:06:32+00:00,12.0,12,NaN,female,irregular,2014-01-01
1,653053,575.0,575.0,Rickshaw,Transportation,To repair and maintain the auto rickshaw used ...,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 06:51:08+00:00,2013-12-17 08:00:00+00:00,2014-01-02 09:17:23+00:00,11.0,14,"user_favorite, user_favorite","female, female",irregular,2014-01-01
2,653068,150.0,150.0,Transportation,Transportation,To repair their old cycle-van and buy another ...,IN,India,Maynaguri,INR,334.0,2014-01-01 09:58:07+00:00,2013-12-17 08:00:00+00:00,2014-01-01 16:01:36+00:00,43.0,6,"user_favorite, user_favorite",female,bullet,2014-01-01
3,653063,200.0,200.0,Embroidery,Arts,To purchase an embroidery machine and a variet...,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 08:03:11+00:00,2013-12-24 08:00:00+00:00,2014-01-01 13:00:00+00:00,11.0,8,"user_favorite, user_favorite",female,irregular,2014-01-01
4,653084,400.0,400.0,Milk Sales,Food,To purchase one buffalo.,PK,Pakistan,Abdul Hakeem,PKR,245.0,2014-01-01 11:53:19+00:00,2013-12-17 08:00:00+00:00,2014-01-01 19:18:51+00:00,14.0,16,NaN,female,monthly,2014-01-01
5,1080148,250.0,250.0,Services,Services,Purchase leather for my business using ksh 20000.,KE,Kenya,Abdul Hakeem,KES,245.0,2014-01-01 10:06:19+00:00,2014-01-30 01:42:48+00:00,2014-01-29 14:14:57+00:00,4.0,6,"user_favorite, user_favorite",female,irregular,2014-01-01
6,653067,200.0,200.0,Dairy,Agriculture,To purchase a dairy cow and start a milk produ...,IN,India,Maynaguri,INR,334.0,2014-01-01 09:51:02+00:00,2013-12-16 08:00:00+00:00,2014-01-01 17:18:09+00:00,43.0,8,"user_favorite, user_favorite",female,bullet,2014-01-01
7,653078,400.0,400.0,Beauty Salon,Services,To buy more hair and skin care products.,PK,Pakistan,Ellahabad,PKR,245.0,2014-01-01 11:46:01+00:00,2013-12-20 08:00:00+00:00,2014-01-10 18:18:44+00:00,14.0,8,"#Elderly, #Woman Owned Biz",female,monthly,2014-01-01
8,653082,475.0,475.0,Manufacturing,Manufacturing,"To purchase leather, plastic soles and heels i...",PK,Pakistan,Lahore,PKR,245.0,2014-01-01 11:49:43+00:00,2013-12-20 08:00:00+00:00,2014-01-01 18:47:21+00:00,14.0,19,user_favorite,female,monthly,2014-01-01
9,653048,625.0,625.0,Food Production/Sales,Food,"To buy a stall, gram flour, ketchup, and coal ...",PK,Pakistan,Lahore,PKR,247.0,2014-01-01 05:41:03+00:00,2013-12-17 08:00:00+00:00,2014-01-03 15:45:04+00:00,11.0,24,user_favorite,female,irregular,2014-01-01
10,653060,200.0,200.0,Rickshaw,Transportation,To cover the cost of repairing rickshaw,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 07:32:39+00:00,2013-12-24 08:00:00+00:00,2014-01-01 12:18:55+00:00,11.0,3,NaN,female,irregular,2014-01-01
11,653088,400.0,400.0,Wholesale,Wholesale,"To purchase biscuits, sweets and juices in bulk.",PK,Pakistan,Faisalabad,PKR,245.0,2014-01-01 12:03:43+00:00,2013-12-16 08:00:00+00:00,2014-01-03 09:19:26+00:00,14.0,16,"#Repeat Borrower, #Woman Owned Biz",female,monthly,2014-01-01
12,653089,400.0,400.0,General Store,Retail,"To buy stock of rice, sugar and flour .",PK,Pakistan,Faisalabad,PKR,245.0,2014-01-01 12:04:57+00:00,2013-12-24 08:00:00+00:00,2014-01-08 00:35:14+00:00,14.0,16,"#Repeat Borrower, #Woman Owned Biz",female,monthly,2014-01-01
13,653062,400.0,400.0,Clothing Sales,Clothing,To purchase variety of winter clothes to sell.,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 07:57:58+00:00,2013-12-24 08:00:00+00:00,2014-01-02 15:47:37+00:00,12.0,10,"#Repeat Borrower, #Woman Owned Biz",female,irregular,2014-01-01
14,653075,225.0,225.0,Poultry,Agriculture,To expand her existing poultry farm business.,IN,India,Dhupguri,INR,334.0,2014-01-01 11:24:40+00:00,2013-12-20 08:00:00+00:00,2014-01-01 18:58:18+00:00,43.0,7,user_favorite,female,bullet,2014-01-01
15,653054,300.0,300.0,Rickshaw,Transportation,To buy a three-wheeled rickshaw.,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 06:58:07+00:00,2013-12-17 08:00:00+00:00,2014-01-02 00:04:08+00:00,11.0,9,user_favorite,female,irregular,2014-01-01
16,653091,400.0,400.0,General Store,Retail,"To buy packs of salts, biscuits and beverages.",PK,Pakistan,Faisalabad,PKR,245.0,2014-01-01 12:09:10+00:00,2013-12-09 08:00:00+00:00,2014-01-14 15:57:05+00:00,14.0,11,"#Woman Owned Biz, #Parent",female,monthly,2014-01-01
17,653052,875.0,875.0,Tailoring,Services,"To buy a sewing machine, lace, zippers and but...",PK,Pakistan,Lahore,PKR,247.0,2014-01-01 06:25:41+00:00,2013-12-17 08:00:00+00:00,2014-01-01 18:07:34+00:00,11.0,25,"#Woman Owned Biz, #Parent","female, female, female",irregular,2014-01-01
18,653066,250.0,250.0,Sewing,Services,To purchase a sewing machine.,IN,India,Maynaguri,INR,334.0,2014-01-01 09:48:35+00:00,2013-12-13 08:00:00+00:00,2014-01-01 17:18:09+00:00,43.0,4,"user_favorite, user_favorite",female,bullet,2014-01-01
19,653080,475.0,475.0,Beauty Salon,Services,To buy more cosmetics products for her beauty ...,PK,Pakistan,Lahore,PKR,245.0,2014-01-01 11:48:08+00:00,2013-12-19 08:00:00+00:00,2014-01-10 03:22:29+00:00,14.0,18,#Woman Owned Biz,female,monthly,2014-01-01
20,653065,250.0,250.0,Bakery,Food,To buy ingredients to make bakery products.,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 08:26:34+00:00,2013-12-18 08:00:00+00:00,2014-01-01 15:35:59+00:00,11.0,10,#Woman Owned Biz,female,irregular,2014-01-01
21,653055,350.0,350.0,Restaurant,Food,"To purchase vegetables, chicken, and oil to co...",PK,Pakistan,Lahore,PKR,247.0,2014-01-01 07:14:40+00:00,2013-12-24 08:00:00+00:00,2014-01-01 21:54:18+00:00,12.0,13,NaN,female,irregular,2014-01-01
22,653050,575.0,575.0,Clothing Sales,Clothing,To buy winter clothing to sell,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 06:05:17+00:00,2013-12-17 08:00:00+00:00,2014-01-02 23:56:08+00:00,12.0,20,NaN,"female, female",irregular,2014-01-01
23,653079,350.0,350.0,Embroidery,Arts,To buy reels of threads in different colors an...,PK,Pakistan,Lahore,PKR,245.0,2014-01-01 11:47:03+00:00,2013-12-13 08:00:00+00:00,2014-01-01 15:45:51+00:00,14.0,6,NaN,female,monthly,2014-01-01
24,653061,250.0,250.0,Food Stall,Food,To purchase a variety of needed food items to ...,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 07:46:28+00:00,2013-12-24 08:00:00+00:00,2014-01-02 01:33:55+00:00,11.0,7,NaN,female,irregular,2014-01-01
25,653074,250.0,250.0,Farming,Agriculture,To purchase potato seeds and fertilizers for g...,IN,India,Dhupguri,INR,334.0,2014-01-01 11:13:09+00:00,2013-12-13 08:00:00+00:00,2014-01-01 19:01:19+00:00,43.0,9,"user_favorite, user_favorite",female,bullet,2014-01-01
26,653069,250.0,250.0,Construction Supplies,Construction,To purchase stones for starting a business sup...,IN,India,Maynaguri,INR,334.0,2014-01-01 10:04:17+00:00,2013-12-10 08:00:00+00:00,2014-01-01 22:12:43+00:00,43.0,10,"user_favorite, user_favorite",female,bullet,2014-01-01
27,653056,475.0,475.0,Rickshaw,Transportation,To cover the cost of repairing rickshaw,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 07:20:09+00:00,2013-12-24 08:00:00+00:00,2014-01-01 20:26:48+00:00,12.0,17,"user_favorite, user_favorite",female,irregular,2014-01-01
28,653071,125.0,125.0,Farming,Agriculture,To purchase potato seeds and fertilizers for g...,IN,India,Maynaguri,INR,334.0,2014-01-01 10:35:20+00:00,2013-12-17 08:00:00+00:00,2014-01-01 16:06:47+00:00,43.0,5,NaN,female,bullet,2014-01-01
29,653073,250.0,250.0,Farming,Agriculture,To purchase potato seeds and fertilizer for fa...,IN,India,Dhupguri,INR,334.0,2014-01-01 11:09:26+00:00,2013-12-19 08:00:00+00:00,2014-01-01 21:47:05+00:00,43.0,10,NaN,female,bullet,2014-01-01
30,653059,250.0,250.0,Clothing Sales,Clothing,To buy clothing to sell,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 07:30:22+00:00,2013-12-17 08:00:00+00:00,2014-01-01 15:58:16+00:00,11.0,8,NaN,female,irregular,2014-01-01
31,653087,400.0,400.0,Manufacturing,Manufacturing,To buy bundles of good quality paper along wit...,PK,Pakistan,Jaranwala,PKR,245.0,2014-01-01 12:01:42+00:00,2013-12-13 08:00:00+00:00,2014-01-01 16:37:28+00:00,14.0,7,"#Parent, #Woman Owned Biz",female,monthly,2014-01-01
32,653076,450.0,450.0,General Store,Retail,"To buy packs of salt, biscuits, and beverages.",PK,Pakistan,Lahore,PKR,245.0,2014-01-01 11:43:45+00:00,2013-12-18 08:00:00+00:00,2014-01-08 13:14:51+00:00,14.0,18,"#Parent, #Woman Owned Biz",female,monthly,2014-01-01
33,653072,250.0,250.0,Farming,Agriculture,To cultivate broad beans on her own land.,IN,India,Dhupguri,INR,334.0,2014-01-01 10:41:48+00:00,2013-12-19 08:00:00+00:00,2014-01-01 19:56:40+00:00,43.0,10,"user_favorite, user_favorite",female,bullet,2014-01-01
34,653086,400.0,400.0,Milk Sales,Food,To purchase one cow.,PK,Pakistan,Sialkot,PKR,245.0,2014-01-01 11:59:58+00:00,2013-12-27 08:00:00+00:00,2014-01-01 18:34:00+00:00,14.0,16,user_favorite,female,monthly,2014-01-01
35,653047,2225.0,2225.0,Personal Products Sales,Retail,To buy hair oils to sell.,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 04:49:26+00:00,2013-12-17 08:00:00+00:00,2014-01-19 16:39:37+00:00,11.0,58,"#Parent, #Repeat Borrower, user_favorite","female, female, female, female, female, female...",irregular,2014-01-01
36,653058,400.0,400.0,Services,Services,"To purchase bamboo, nails and iron sheets",PK,Pakistan,Lahore,PKR,247.0,2014-01-01 07:27:35+00:00,2013-12-24 08:00:00+00:00,2014-01-03 11:51:24+00:00,11.0,16,"#Parent, #Repeat Borrower, user_favorite",female,irregular,2014-01-01
37,653083,475.0,475.0,Sewing,Services,To buy more spools of threads in different col...,PK,Pakistan,Lahore,PKR,245.0,2014-01-01 11:50:33+00:00,2013-12-27 08:00:00+00:00,2014-01-02 01:02:07+00:00,14.0,12,NaN,female,monthly,2014-01-01
38,653057,350.0,350.0,Home Products Sales,Retail,To buy different kinds of knives to sell,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 07:22:37+00:00,2013-12-17 08:00:00+00:00,2014-01-01 23:58:31+00:00,11.0,4,NaN,female,irregular,2014-01-01
39,653090,475.0,475.0,General Store,Retail,"To buy rice, sugar and flour in bulk.",PK,Pakistan,Jaranwala,PKR,245.0,2014-01-01 12:07:31+00:00,2013-12-05 08:00:00+00:00,2014-01-01 23:12:44+00:00,14.0,14,NaN,female,monthly,2014-01-01
40,653064,250.0,250.0,Natural Medicines,Health,To buy herbal medicines to sell in their herba...,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 08:17:14+00:00,2013-12-18 08:00:00+00:00,2014-01-01 12:27:40+00:00,11.0,6,NaN,female,irregular,2014-01-01
41,653077,475.0,475.0,Fish Selling,Food,"To purchase a new, bigger-size cart.",PK,Pakistan,Jhang,PKR,245.0,2014-01-01 11:44:57+00:00,2013-12-20 08:00:00+00:00,2014-01-02 01:56:28+00:00,14.0,16,NaN,female,monthly,2014-01-01
42,653081,200.0,200.0,Education provider,Education,To purchase furniture for husband's academy.,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 11:48:27+00:00,2013-12-24 08:00:00+00:00,2014-01-01 16:44:27+00:00,11.0,8,NaN,female,irregular,2014-01-01
43,653049,250.0,250.0,Shoe Sales,Retail,To buy women's shoes to sell,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 05:54:34+00:00,2013-12-17 08:00:00+00:00,2014-01-02 15:21:21+00:00,12.0,8,#Elderly,female,irregular,2014-01-01
44,653085,450.0,450.0,Rickshaw,Transportation,To buy new tires for her son's rickshaw.,PK,Pakistan,Faisalabad,PKR,245.0,2014-01-01 11:55:38+00:00,2013-12-19 08:00:00+00:00,2014-01-14 18:25:00+00:00,14.0,15,#Elderly,female,monthly,2014-01-01
45,653070,150.0,150.0,Farming,Agriculture,To purchase potato seeds and fertilizers for c...,IN,India,Maynaguri,INR,334.0,2014-01-01 10:12:14+00:00,2013-12-17 08:00:00+00:00,2014-01-01 18:21:56+00:00,43.0,6,#Elderly,female,bullet,2014-01-01
46,653185,250.0,250.0,Fruits & Vegetables,Food,"To purchase sacks of tomatoes, potatoes, fruit...",KE,Kenya,Voi,KES,164.0,2014-01-02 06:59:33+00:00,2013-12-12 08:00:00+00:00,2014-01-02 18:40:01+00:00,13.0,7,#Vegan,female,irregular,2014-01-02
47,653272,250.0,250.0,Farming,Agriculture,To purchase potato seeds and fertilizers for g...,IN,India,Dhupguri,INR,334.0,2014-01-02 10:34:30+00:00,2013-12-20 08:00:00+00:00,2014-01-02 22:17:27+00:00,43.0,10,"#Eco-friendly, #Sustainable Ag, #Parent",female,bullet,2014-01-02
48,653359,600.0,600.0,Machinery Rental,Services,To invest in working capital and to maintain g...,NI,Nicaragua,Leon,NIO,96.0,2014-01-02 14:25:08+00:00,2013-12-17 08:00:00+00:00,2014-01-08 22:07:48+00:00,14.0,16,#Parent,female,monthly,2014-01-02
49,653418,450.0,450.0,General Store,Retail,To stock his store.,SV,El Salvador,Leon,USD,81.0,2014-01-02 22:17:55+00:00,2013-12-21 08:00:00+00:00,2014-01-30 00:19:42+00:00,14.0,18,"#Repeat Borrower, user_favorite",male,monthly,2014-01-02
50,653170,3175.0,3175.0,Butcher Shop,Food,To buy meat and also to start selling fish in ...,TZ,Tanzania,Dar es Salaam,TZS,87.0,2014-01-02 06:26:40+00:00,2013-12-26 08:00:00+00:00,2014-01-29 16:05:19+00:00,10.0,93,"#Parent, #Repeat Borrower, #Schooling, user_fa...","male, male, male, male, male",monthly,2014-01-02
51,653092,175.0,175.0,Pigs,Agriculture,To buy piglets and feed,PH,Philippines,Liloy-Dela Paz,PHP,126.0,2014-01-02 00:25:40+00:00,2013-12-12 08:00:00+00:00,2014-01-02 01:42:51+00:00,8.0,6,"#Parent, #Repeat Borrower, #Schooling, user_fa...",female,irregular,2014-01-02
52,653149,175.0,175.0,Pigs,Agriculture,To purchase feed and vitamins for her pigs,PH,Philippines,"Tanjay, Negros Oriental",PHP,145.0,2014-01-02 04:18:30+00:00,2013-12-06 08:00:00+00:00,2014-01-02 07:47:28+00:00,8.0,7,"#Parent, user_favorite",female,irregular,2014-01-02
53,653432,550.0,550.0,Personal Expenses,Personal Use,To buy a cradle and household items for his yo...,PE,Peru,Ica,PEN,139.0,2014-01-02 23:36:30+00:00,2013-12-20 08:00:00+00:00,2014-01-22 15:55:47+00:00,14.0,20,"#Parent, user_favorite",male,monthly,2014-01-02
54,653380,225.0,225.0,Food Market,Food,To purchase various seasonal items to resell: ...,SN,Senegal,Ica,XOF,108.0,2014-01-02 16:04:50+00:00,2013-12-17 08:00:00+00:00,2014-01-03 02:15:13+00:00,14.0,7,"#Parent, user_favorite",female,monthly,2014-01-02
55,653123,700.0,700.0,General Store,Retail,"To buy additional items like eggs, charcoal, r...",PH,Philippines,"Brookes Point, Palawan",PHP,145.0,2014-01-02 02:18:02+00:00,2013-12-10 08:00:00+00:00,2014-01-02 03:26:10+00:00,5.0,2,NaN,female,irregular,2014-01-02
56,653338,575.0,575.0,Farming,Agriculture,To purchase fertilizers and other farm supplies,PH,Philippines,"Tanjay, Negros Oriental",PHP,145.0,2014-01-02 13:38:42+00:00,2013-12-05 08:00:00+00:00,2014-01-02 23:01:23+00:00,8.0,19,volunteer_pick,female,irregular,2014-01-02
57,653237,250.0,250.0,Cosmetics Sales,Retail,"To purchase body lotions, hair oil, jewelery, ...",KE,Kenya,Likoni,KES,164.0,2014-01-02 08:58:55+00:00,2013-12-09 08:00:00+00:00,2014-01-05 07:33:21+00:00,14.0,3,volunteer_pick,female,irregular,2014-01-02
58,653229,250.0,250.0,Tailoring,Services,To purchase cloth materials and sewing thread ...,KE,Kenya,Likoni,KES,164.0,2014-01-02 08:43:29+00:00,2013-12-09 08:00:00+00:00,2014-01-02 21:56:07+00:00,14.0,1,"#First Loan, user_favorite",female,irregular,2014-01-02
59,653161,3175.0,3175.0,Home Products Sales,Retail,To buy fabric to sell and materials to make be...,TZ,Tanzania,Dar es Salaam,TZS,87.0,2014-01-02 06:03:54+00:00,2013-12-26 08:00:00+00:00,2014-01-19 15:06:04+00:00,8.0,114,"#Parent, #Repeat Borrower, #Woman Owned Biz, u...","male, female, female, female",irregular,2014-01-02
60,653192,800.0,800.0,Pigs,Agriculture,To purchase pigs to breed and resell when they...,KH,Cambodia,Takeo province,USD,9.0,2014-01-02 07:13:49+00:00,2013-12-13 08:00:00+00:00,2014-01-02 17:50:16+00:00,12.0,32,"#Parent, #Repeat Borrower, #Woman Owned Biz, u...",female,monthly,2014-01-02
61,653308,150.0,150.0,Food Market,Food,"To purchase more palm oil, bitter ball, pepper...",LR,Liberia,New Kru,LRD,182.0,2014-01-02 12:02:21+00:00,2013-12-19 08:00:00+00:00,2014-01-03 05:36:28+00:00,11.0,6,user_favorite,female,irregular,2014-01-02
62,653290,4275.0,4275.0,Personal Housing Expenses,Housing,To pay for the construction of a hygienic toil...,VN,Vietnam,Hai Duong,VND,331.0,2014-01-02 11:12:43+00:00,2014-01-27 08:00:00+00:00,2014-01-11 05:20:41+00:00,14.0,144,"user_favorite, #Low-profit FP, #Post-disbursed...","female, female, female, female, female, female...",bullet,2014-01-02
63,653227,250.0,250.0,Clothing Sales,Clothing,To buy winter season clothing for resale.,PK,Pakistan,Lahore,PKR,247.0,2014-01-02 08:40:09+00:00,2013-12-23 08:00:00+00:00,2014-01-02 20:44:18+00:00,12.0,7,"user_favorite, #Low-profit FP, #Post-disbursed...",female,irregular,2014-01-02
64,653181,1500.0,1500.0,Personal Housing Expenses,Housing,To purchase timber and zinc to build a new house,KH,Cambodia,Kampong Chhnang Province,USD,9.0,2014-01-02 06:55:54+00:00,2013-12-18 08:00:00+00:00,2014-01-03 21:27:40+00:00,20.0,26,"#Fabrics, #Parent, #Supporting Family",female,monthly,2014-01-02
65,653242,325.0,325.0,General Store,Retail,"To purchase sugar, coffee, coffee creamer, can...",PH,Philippines,"Sinippil, Cauayan City, Isabela",PHP,123.0,2014-01-02 09:13:05+00:00,2013-12-13 08:00:00+00:00,2014-01-02 17:50:06+00:00,7.0,11,volunteer_pick,female,irregular,2014-01-02
66,653287,275.0,275.0,Retail,Retail,"To purchase more rice, oil, soap, etc. for her...",LR,Liberia,Logan Town,LRD,182.0,2014-01-02 11:10:02+00:00,2013-12-23 08:00:00+00:00,2014-01-04 10:47:13+00:00,12.0,11,"#First Loan, #Woman Owned Biz, #Single Parent",female,irregular,2014-01-02
67,1080150,125.0,125.0,Energy,Services,Purchase solar lanterns for resale.,KE,Kenya,Logan Town,KES,182.0,2014-01-02 08:48:38+00:00,2014-01-30 01:42:21+00:00,2014-01-23 13:35:59+00:00,3.0,6,"#First Loan, #Woman Owned Biz, #Single Parent",male,irregular,2014-01-02
68,653311,150.0,150.0,Food Market,Food,To buy more red oil for her business.,LR,Liberia,New Kru,LRD,182.0,2014-01-02 12:08:58+00:00,2013-12-19 08:00:00+00:00,2014-01-03 06:44:33+00:00,11.0,6,user_favorite,female,irregular,2014-01-02
69,653410,1075.0,1075.0,Transportation,Transportation,To pay for general maintenance on his vehicle.,PE,Peru,Ica,PEN,139.0,2014-01-02 21:10:02+00:00,2013-12-06 08:00:00+00:00,2014-01-30 23:11:03+00:00,17.0,41,"#Parent, user_favorite",male,monthly,2014-01-02
70,653244,2000.0,2000.0,Retail,Retail,To install a display window and a sunshade for...,IQ,Iraq,Ica,USD,166.0,2014-01-02 09:15:05+00:00,2013-12-28 08:00:00+00:00,2014-01-31 16:27:13+00:00,15.0,71,"#Schooling, #Parent, #Biz Durable Asset, user_...",male,monthly,2014-01-02
71,653108,125.0,125.0,General Store,Retail,To buy goods to sell.,PH,Philippines,Pagadian - Lower Bagong Silang Pagadian City,PHP,126.0,2014-01-02 01:01:40+00:00,2013-12-16 08:00:00+00:00,2014-01-02 03:07:34+00:00,8.0,5,"#Woman Owned Biz, #Parent, #Interesting Photo",female,irregular,2014-01-02
72,653134,575.0,575.0,Pigs,Agriculture,To purchase additional feed for her pigs.,PH,Philippines,"Brookes Point, Palawan",PHP,145.0,2014-01-02 02:58:01+00:00,2013-12-09 08:00:00+00:00,2014-01-02 14:47:08+00:00,8.0,20,"#Woman Owned Biz, #Parent, #Interesting Photo",female,irregular,2014-01-02
73,653382,2775.0,2775.0,Tailoring,Services,Buy more material to make dresses and suits an...,TZ,Tanzania,Dar es Salaam,TZS,87.0,2014-01-02 16:09:36+00:00,2013-12-24 08:00:00+00:00,2014-01-11 08:09:29+00:00,8.0,101,user_favorite,"female, female, female, female, female",irregular,2014-01-02
74,653247,250.0,250.0,Food Stall,Food,"To purchase bundles of wheat flour, maize flou...",KE,Kenya,Voi,KES,164.0,2014-01-02 09:21:29+00:00,2013-12-05 08:00:00+00:00,2014-01-05 19:53:40+00:00,13.0,9,"#First Loan, #Low-profit FP, #Woman Owned Biz",female,irregular,2014-01-02
75,653115,275.0,275.0,Pigs,Agriculture,To buy piglets to raise,PH,Philippines,"Liloy-Timan, Liloy, Zamboanga del norte",PHP,126.0,2014-01-02 01:04:52+00:00,2013-12-12 08:00:00+00:00,2014-01-08 07:48:36+00:00,11.0,11,"#First Loan, #Low-profit FP, #Woman Owned Biz",female,irregular,2014-01-02

In [24]:
#Read df to csv called 'kiva_loans_master.csv'
df.to_csv('kiva_loans_master.csv', index = False)